$crimson: #da1b37; // red
$persian: #009688; // green
$casablanca: #f7b64c; // yellow
$fiord: #415a6b; // blue

// logo colors
$calico: #e0b990; // very light brown
$laser: #c9a177; // red-light brown
$twine: #c18e59; // brown
$palliser: #976947; // light brown